@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');










.WeatherApp {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 200vh;
  width: 100%;
  color: #fff;
  background-image: linear-gradient(180deg,rgba(50,94,189,.913603),rgba(25,107,138,.779149) 60%,rgba(0,172,255,.319765));

}




.Summary {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  flex-direction: column;
  height: 60vh;
  display: flex;
  justify-content: space-between;
}




.Chart {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  background-color: #fff;
  position: relative;
  max-width: 100%;
  height: 40vh;
  overflow: auto;
}





.weather-main {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 26px;
}

.location {
  color: rgb(245, 240, 240);
  font-size: 32px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.search-bar {
  color: rgb(12, 1, 1);
  font-size: 20px;
  font-weight: 100;                        
  text-align: center;
}
.date {
  text-align: center  ;
  font-size: 30px;
}

.pressure {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 26px;
}

.col-main {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 25%;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(0deg,#fff,transparent) 1 100%;
}


.state-icon {
  

  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  align-self: center;
  
}


.weather-detail {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  display: flex;

}


.col-detail {
  
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 480px;
    height: auto;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(0deg,#fff,transparent) 1 100%;
}

.title-detail {
  
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  margin: 5px 0;
  padding: 8px;
  font-size: 24px;
  font-weight: 500;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 4px;
}


.circle-icon {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  font-size: 30px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Chart {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  background-color: #fff;
  position: relative;
  max-width: 100%;
  height: 100%;
  overflow: auto;
  
}



/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.detail-value #psi {

  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  margin: 5px 0;
  font-weight: 600;
}