
@import './styles/styles.scss';


.header {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  margin: 0;
  box-sizing: inherit;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}






.container {
  font-size: 40%;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  width: 100%;
  color: #fff;
  background-image: linear-gradient(180deg, rgba(50, 94, 189, .913603), rgba(25, 107, 138, .779149) 60%, rgba(0, 172, 255, .319765));
  overflow-x: hidden; 
}


.Summary {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
   
  

}








.state-icon {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  align-self: center;
}


.weather-search__detail {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.location {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  text-align: center;
  font-size: 2rem;
}

.search-bar {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  box-sizing: inherit;
  display: inline-block;
  border: solid 2px transparent;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5rem 3rem;
  border-radius: 2px;
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 4rem;
}

.search-box {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.date {
  text-align: center;
  font-size: 30px;
}



.state-icon {


  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  align-self: center;

}



.col-detail {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  margin: 0;
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 12rem;
  padding: 1rem 0;
  border-right: 2px solid #fff;
}

.col-detail .detail-state {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-size: 1.6rem;
}



.col-detail .detail-state {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-size: 1.6rem;
}


.title-detail {

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  margin: 5px 0;
  padding: 8px;
  font-size: 24px;
  font-weight: 500;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 4px;
}


.Chart {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  background-color: #fff;
  position: relative;
  max-width: 100%;
  height: auto;
  overflow: auto;
  
}

.main-title {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  margin-left: 3rem;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
  width: 18rem;
}


.main-title__state {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-size: 3rem;
}

.main-title__detail {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  justify-content: space-between;
  font-size: 2rem;
}


.main-title__detailtemp {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.main-title__detaildeg {
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.weather-info {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  margin-left: 3rem;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
  width: 18rem;
}

.weather-info .state {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-size: 3rem;
}

.weather-info .detail {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;

}

.col-detail .title-detail {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-weight: 500;
  font-size: 1.8rem;
}

.col-detail__psi {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  margin: 0;
  box-sizing: inherit;
  font-size: 2.4rem;
  padding: 8px 8px 8px 15px;
  background: #32a848;
  border-radius: 4px;
  width: 6rem;
  height: 5rem;

}

.img {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

.detail-value {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  margin: 5px 0;
  padding: 8px;
  font-size: 24px;
  font-weight: 500;
  width: 30px;
  height: 30px;
  text-align: center;
}

.weather-main {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  display: flex;
  justify-content: center;
}


.weather-main .detail {

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  display: flex;
  justify-content: center;
  align-self: flex-end;


}

.weather-detail {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  display: flex;

}


.add-text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  color: #333;
  font-weight: 500;
  font-size: 2rem;

}

.nav-bar {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  margin: 0;
  box-sizing: inherit;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.nav-bar .nav-bar__location {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  text-align: center;
}

.nav-bar__location--app-name {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-size: 1.6rem;
}

.nav-bar__location--dropdown {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-size: 1.6rem;
}

.Weather-search {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;

}

.chart-layout {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  position: relative;
  overflow-y: auto;
  height: 40%;
  background-color: #fff;
  display: flex;
  justify-content: center;
}


*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav-bar .nav-bar__button--burger {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  display: inline-block;
  width: 3rem;
  height: 3.5rem;
  cursor: pointer;
}

.nav-bar .nav-bar__button--burger span {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  cursor: pointer;
  padding: 0;
  box-sizing: inherit;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: .4s;
}

.col-detail .detail-state {
  box-sizing: inherit;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  margin: 5px 0;
  padding: 8px;
  font-size: 24px;
  font-weight: 500;
  width: 30px;
  height: 30px;
  text-align: center;
}

.col-detail__status {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-size: 1.6rem;

}

.col-detail__title-detail {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-weight: 500;
  font-size: 1.8rem;
}

.col-detail__deg {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-size: 3rem;
}

.col-detail__circle-icon {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  width: 4rem;
  height: 4rem;
  border: 2px solid #fff;
  border-radius: 100%;
  background-color: #94d6f7;
}


.col-detail__add-text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  color: #333;
  font-weight: 500;
  font-size: 2rem;
}


.nav-bar__notification {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  width: 3rem;
  height: 3rem;
  background-size: contain;
  background-image: url(./static/media/bell.8758fea0.svg);
  cursor: pointer;
}

.nav-bar__location--dropdown--icon {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-size: contain;
  background-image: url(./static/media/down-arrow.209ab81d.svg);
  margin-left: 5px;
  margin-top: 5px;
}

.nav-bar__location--dropdown {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.weather-info__add-btn {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: 1px solid #333;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
}


.weather-info__add-btn {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: 1px solid #333;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
}

.weather-info__add-btn::before {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-image: url(./static/media/add.80ec9be2.svg);
  background-size: contain;
  content: "";
}

.chart-title {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  position: sticky;
  bottom: calc(100% - 2.5rem);
  left: 1.5rem;
}

.recharts-surface {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  cursor: default;
  width: 1200;
  height: 350;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}




.chart-title .blue-title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  color: #94d6f7;
  font-size: 1.8rem;
  font-weight: 500;
}

.chart-title .orange-title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  color: #ff8514;
  font-size: 1.8rem;
  margin-left: 10px;
}

.WeatherStatus {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  
}
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}


.main-title__detailtemp::before {
  display: inline-block;
  content: "";
  background-image: url(./static/media/temp.ab18600f.svg);
  background-size: contain;
  width: 2rem;
  height: 2rem;
}

.main-title__detaildeg::before {
  display: inline-block;
  content: "";
  background-image: url(./static/media/humid.1f738af5.svg);
  background-size: contain;
  width: 2rem;
  height: 2rem;
}



.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  
}


.recharts-responsive-container{
  overflow:auto;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  overflow: auto;
  width: 1200px;
  height: 350px;
}


.recharts-cartesian-axis-ticks {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  cursor: default;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.recharts-wrapper {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  position: relative;
  cursor: default;
  width: 1200px;
  height: 350px;
}

.recharts-legend-wrapper {
  font-size: 90.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  position: relative;
  cursor: default;
  width: 1200px;
  height: 350px;
}

 
  